*,  ::after,  ::before  {
    box-sizing:  border-box;
}
._d-mn-x,
._d-mx-x,
._d-mx-x-flex,
._d-mn-l,
._d-mx-l,
._d-mn-l-flex,
._d-mx-l-flex,
._d-mn-m,
._d-mx-m,
._d-mn-m-flex,
._d-mx-m-flex {
  display: none !important;
}
@media (min-width: 1200px) {
    ._d-mn-x {
      display: block !important;
    }
    ._d-mn-x-flex {
      display: flex !important;
    }
}
@media (max-width: 1199px) {
    ._d-mx-x {
      display: block !important;
    }
    ._d-mx-x-flex {
      display: flex !important;
    }
}
@media (min-width: 992px) {
    ._d-mn-l {
      display: block !important;
    }
    ._d-mn-l-flex {
      display: flex !important;
    }
}
@media (max-width: 991px) {
    ._d-mx-l {
      display: block !important;
    }
    ._d-mx-l-flex {
      display: flex !important;
    }
}
@media (min-width: 768px) {
  ._d-mn-m {
    display: block !important;
  }
  ._d-mn-m-flex {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  ._d-mx-m {
    display: block !important;
  }
  ._d-mx-m-flex {
    display: flex !important;
  }
}
._text-center {
    text-align: center !important;
}
h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
}
img,
svg {
    vertical-align: middle;
}
h1,
h2,
h3,
h4 {
    margin-bottom: 0.5rem;
    font-weight: initial;
}
p {
    margin-bottom: 15px;
}
img {
    border-style: none;
    max-width: 100%;
}
svg {
    overflow: hidden;
}

._container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 576px) {
    ._container{
       padding-left: 15px;
       padding-right: 15px; 
    }
}
section {
    display: block;
}

@media (min-width: 577px) {
    ._container{
        max-width: 546px;
    }
}
@media (min-width: 768px) {
    ._container{
        max-width: 704px;
    }
}
@media (min-width: 992px) {
    ._container{
        max-width: 956px;
    }
}
@media (min-width: 1200px) {
    ._container{
        max-width: 1160px;
    }
}
@media (min-width: 1380px) {
    ._container{
        max-width: 1360px;
    }
}

